* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 650px;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #673b96;
}

label {
    display: inline-block;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 8px;
    color: #22476f
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    border: 2px solid #007bff;
}

.radio-group,
.checkbox-group {
    margin-top: 8px;
}

.radio-group input,
.checkbox-group input {
    margin-right: 5px;
    margin-left: 10px;
}

.radio-group label,
.checkbox-group label {
    display: inline;
    font-weight: normal;
    margin-right: 15px;
}

.error {
    display: block;
    color: red;
    font-size: 13px;
    margin-top: 4px;
    margin-bottom: 5px;
}

.errorBorder {
    border: 2px solid red !important;
}

.successBorder {
    border: 2px solid green !important;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}